In [2]:
# Data Science Tools and Ecosystem

In [5]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

In [8]:
# Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

SyntaxError: invalid syntax (722246910.py, line 3)

In [ ]:
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VSCode             |

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [11]:
Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

SyntaxError: invalid syntax (2721980993.py, line 1)

In [ ]:
**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Introduce key Data Science tools and environments
- Demonstrate basic arithmetic expressions in Python
- Convert time from minutes to hours

In [ ]:
## Author
MTM